@model IEnumerable<CNPM_QLHocSinh.Models.HocSinh>

@{
    ViewBag.Title = "TimHocSinh";
}

<h2>Tìm Học Sinh</h2>

@if (ViewBag.ModelError != null)
{
    <div>@ViewBag.ModelError</div>
}
@if (ViewBag.Error != null)
{
    <div>@ViewBag.Error</div>
}

<p>
    <a href="@Url.Action("ThemHocSinh")" class="btn btn-primary">
        Thêm Học sinh
    </a>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MaHS)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HoTen)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GioiTinh)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NgaySinh)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DiaChi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SDT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MaTT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MaLop)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pass)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MaHS)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HoTen)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GioiTinh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NgaySinh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiaChi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SDT)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaTT)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaLop)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pass)
            </td>
            <td>
                @Html.ActionLink("Chỉnh sửa", "Edit", new { id = item.MaHS }, new { @class = "btn btn-success" }) |
                @Html.ActionLink("Xem chi tiết", "Details", new { id = item.MaHS }, new { @class = "btn btn-primary" }) |
                @Html.ActionLink("Xóa", "XoaHocSinh", new { id = item.MaHS }, new { @class = "btn btn-danger" })
            </td>
        </tr>
    }

</table>
