@model CNPM_QLHocSinh.Models.LichGiangDay

@{
    ViewBag.Title = "Delete";
}
<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title text-center mb-4">Xác nhận xóa ?</h2>
                    <hr />

                    <dl class="row">
                        <dt class="col-sm-4">@Html.DisplayNameFor(model => model.LopHoc.TenLop)</dt>
                        <dd class="col-sm-8">@Html.DisplayFor(model => model.LopHoc.TenLop)</dd>

                        <dt class="col-sm-4">@Html.DisplayNameFor(model => model.MonHoc.TenMH)</dt>
                        <dd class="col-sm-8">@Html.DisplayFor(model => model.MonHoc.TenMH)</dd>

                        <dt class="col-sm-4">@Html.DisplayNameFor(model => model.GiaoVien.HoTen)</dt>
                        <dd class="col-sm-8">@Html.DisplayFor(model => model.GiaoVien.HoTen)</dd>
                        
                        <dt class="col-sm-4">@Html.DisplayNameFor(model => model.CaHoc.ThoiGianBatDau)</dt>
                        <dd class="col-sm-8">@Html.DisplayFor(model => model.CaHoc.ThoiGianBatDau)</dd>

                        <dt class="col-sm-4">@Html.DisplayNameFor(model => model.CaHoc.ThoiGianKetThuc)</dt>
                        <dd class="col-sm-8">@Html.DisplayFor(model => model.CaHoc.ThoiGianKetThuc)</dd>
                    </dl>

                    <div class="text-center mt-4">
                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()

                            <div class="form-actions no-color">
                                <input type="submit" value="Xóa" class="btn btn-danger" /> |
                                @Html.Partial("_BackBtn")
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

