@model CNPM_QLHocSinh.Models.MonHoc

@{
    ViewBag.Title = "Môn Học";
}
<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title text-center mb-4">@Html.DisplayFor(model => model.TenMH)</h2>
                    <hr />

                    <dl class="row">
                        <dt class="col-sm-4">@Html.DisplayNameFor(model => model.MaMH)</dt>
                        <dd class="col-sm-8">@Html.DisplayFor(model => model.MaMH)</dd>
                        
                        <dt class="col-sm-4">@Html.DisplayNameFor(model => model.TenMH)</dt>
                        <dd class="col-sm-8">@Html.DisplayFor(model => model.TenMH)</dd>

                        <dt class="col-sm-4">@Html.DisplayNameFor(model => model.MoTa)</dt>
                        @if (Model.MoTa != null)
                        {<dd class="col-sm-8">@Html.DisplayFor(model => model.MoTa)</dd>}
                        else
                        {<dd class="col-sm-8">N/A</dd>}

                    </dl>

                    <div class="text-center mt-4">
                        @Html.Partial("_EditBtn", Model.MaMH)
                        @Html.Partial("_DeleteBtn", Model.MaMH)
                        @Html.Partial("_BackBtn")
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
