@model IEnumerable<CNPM_QLHocSinh.Models.MonHoc>

@{
    ViewBag.Title = "Môn Học";
}

<h2>Danh Mục Môn Học</h2>

@Html.Partial("_ViewBagError")

<p>
    @Html.Partial("_CreateBtn")
</p>
<table class="table table-hover">
    <tr>
        <th>@Html.DisplayNameFor(model => model.MaMH)</th>
        <th>@Html.DisplayNameFor(model => model.TenMH)</th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.MaMH)</td>
            <td>@Html.DisplayFor(modelItem => item.TenMH)</td>
            @Html.Partial("_ActionButtons", item.MaMH)
        </tr>
    }

</table>
