@model IEnumerable<CNPM_QLHocSinh.Models.MonHoc>

@{
    ViewBag.Title = "Môn học";
}

<h2>Danh Mục Môn Học</h2>

@if (ViewBag.Error != null)
{
    <div>@ViewBag.Error</div>
}

<p>
    @Html.Partial("_CreateButton")
</p>
<table class="table">
    <tr>
        <th>
            Mã Môn Học
        </th>
        <th>
            Tên Môn Học
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MaMH)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TenMH)
            </td>
            <td>
                @Html.ActionLink("Chỉnh sửa", "Edit", new { id = item.MaMH }, new { @class = "btn btn-success" })
                @Html.ActionLink("Xoá", "Delete", new { id = item.MaMH }, new { @class = "btn btn-danger" })
            </td>
        </tr>
    }

</table>
