@model CNPM_QLHocSinh.Models.ViewModels.StudentLoginViewModel

@{
    ViewBag.Title = "Student Login";
}
<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title text-center mb-4">Đăng nhập</h2>
                    <hr />

                    @Html.Partial("_ViewBagError")

                    @using (Html.BeginForm("StudentLogin", "Account", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()

                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                        <div class="row mb-3">
                            @Html.LabelFor(m => m.MaHS, htmlAttributes: new { @class = "col-form-label text-md-end col-md-4" })
                            <div class="col-md-8">
                                @Html.TextBoxFor(m => m.MaHS, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.MaHS, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        
                        <div class="row mb-3">
                            @Html.LabelFor(m => m.Password, htmlAttributes: new { @class = "col-form-label text-md-end col-md-4" })
                            <div class="col-md-8">
                                @Html.TextBoxFor(m => m.Password, new { @class = "form-control", @type = "password" })
                                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="row mb-3">
                            <div class="col-md-12 text-center">
                                <input type="submit" value="Đăng nhập" class="btn btn-success" />
                            </div>
                        </div>

                        <div class="row mb-3">
                            <div class="col-md-12 text-center">
                                @Html.ActionLink("Đăng nhập với giáo viên", "TeacherLogin", null, new { @class = "btn btn-secondary" })
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
