@model CNPM_QLHocSinh.Models.ViewModels.LHView

@{
    ViewBag.Title = "Lớp Học";
}

<h2>Thêm Lớp Học</h2>

@Html.Partial("_ViewBagError")

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.Label("Chọn số", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.SelectedNumber, new SelectList(Model.AvailableNumbers), "-- Chọn số --", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.SelectedNumber, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Chọn khối lớp", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.SelectedMaKL, new SelectList(Model.DSKhoiLop, "MaKL", "TenKL"), "-- Chọn khối lớp --", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.SelectedMaKL, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group" style="margin:10px">
            <div class="col-md-offset-2 col-md-10">
                <button type="submit" class="btn btn-success">Thêm</button> |
                @Html.Partial("_BackBtn")
            </div>
        </div>
    </div>
}
