@model CNPM_QLHocSinh.Models.LopHoc

@{
    ViewBag.Title = "Lớp Học";
}

<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-body">

                    <h2 class="card-title text-center mb-4">Xác nhận xóa @Html.DisplayFor(model => model.TenLop)?</h2>
                    <hr />

                    <dl class="row">
                        <dt class="col-sm-4">@Html.DisplayNameFor(model => model.MaLop)</dt>
                        <dd class="col-sm-8">@Html.DisplayFor(model => model.MaLop)</dd>

                        <dt class="col-sm-4">@Html.DisplayNameFor(model => model.TenLop)</dt>
                        <dd class="col-sm-8">@Html.DisplayFor(model => model.TenLop)</dd>


                        <dt class="col-sm-4">@Html.DisplayNameFor(model => model.MoTa)</dt>
                        @if (Model.MoTa != null)
                        {<dd class="col-sm-8">@Html.DisplayFor(model => model.MoTa)</dd>}
                        else
                        {<dd class="col-sm-8">N/A</dd>}

                        <dt class="col-sm-4">@Html.DisplayNameFor(model => model.KhoiLop.TenKL)</dt>
                        <dd class="col-sm-8">@Html.DisplayFor(model => model.KhoiLop.TenKL)</dd>

                    </dl>

                    <div class="text-center mt-4">
                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()

                            <div class="form-actions no-color">
                                <input type="submit" value="Xóa" class="btn btn-danger" /> | 
                                @Html.Partial("_BackBtn")
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
