@model CNPM_QLHocSinh.Models.LopHoc

@{
    ViewBag.Title = "Lớp Học";
}

<h2>Xóa Lớp Học</h2>

<h3>Bạn có chắc muốn xoá lớp học này không?</h3>
<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MaLop)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaLop)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TenLop)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenLop)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MoTa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MoTa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.KhoiLop.TenKL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KhoiLop.TenKL)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Xoá" class="btn btn-danger" /> |
            @Html.Partial("_BackBtn")
        </div>
    }
</div>
