@model CNPM_QLHocSinh.Models.LopHoc

@{
    ViewBag.Title = "Lớp học";
}

<h2>Chi tiết lớp học</h2>

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MaLop)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaLop)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TenLop)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenLop)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MoTa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MoTa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MaKL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaKL)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Chỉnh sửa", "Edit", new { id = Model.MaLop }, new { @class = "btn btn-success" }) |
    @Html.Partial("_BackButton")
</p>
