@model CNPM_QLHocSinh.Models.LopHoc

@{
    ViewBag.Title = "Lớp Học";
}
<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title text-center mb-4">Chỉnh sửa lớp học</h2>
                    <hr />

                    @Html.Partial("_ViewBagError")

                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                        <div class="row mb-3">
                            @Html.LabelFor(model => model.MaLop, htmlAttributes: new { @class = "col-md-4 col-form-label text-md-end" })
                            <div class="col-md-8">
                                @Html.EditorFor(model => model.MaLop, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled", @readonly = "readonly" } })
                                @Html.HiddenFor(model => model.MaLop)
                                @Html.ValidationMessageFor(model => model.MaLop, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="row mb-3">
                            @Html.LabelFor(model => model.TenLop, htmlAttributes: new { @class = "col-md-4 col-form-label text-md-end" })
                            <div class="col-md-8">
                                @Html.EditorFor(model => model.TenLop, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled", @readonly = "readonly" } })
                                @Html.HiddenFor(model => model.TenLop)
                                @Html.ValidationMessageFor(model => model.TenLop, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="row mb-3">
                            @Html.LabelFor(model => model.MoTa, htmlAttributes: new { @class = "col-md-4 col-form-label text-md-end" })
                            <div class="col-md-8">
                                @Html.EditorFor(model => model.MoTa, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.MoTa, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="row mb-3">
                            @Html.LabelFor(model => model.KhoiLop.TenKL, htmlAttributes: new { @class = "col-md-4 col-form-label text-md-end" })
                            <div class="col-md-8">
                                @Html.EditorFor(model => model.KhoiLop.TenKL, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled", @readonly = "readonly" } })
                                @Html.HiddenFor(model => model.MaKL)
                                @Html.ValidationMessageFor(model => model.KhoiLop.TenKL, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="row mb-3">
                            <div class="col-md-12 text-center">
                                <button type="submit" class="btn btn-success">Lưu</button> |
                                @Html.Partial("_BackBtn")
                            </div>
                        </div>

                    }
                </div>
            </div>
        </div>
    </div>
</div>
