@model IEnumerable<CNPM_QLHocSinh.Models.LopHoc>

@{
    ViewBag.Title = "Lớp Học";
}

<h2>Danh Sách Lớp Học</h2>
<hr />

@Html.Partial("_ViewBagError")

<p>
    @Html.Partial("_CreateBtn")
</p>
<table class="table">
    <tr>
        <th>@Html.DisplayNameFor(model => model.MaLop)</th>
        <th>@Html.DisplayNameFor(model => model.TenLop)</th>
        <th>@Html.DisplayNameFor(model => model.KhoiLop.TenKL)</th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.MaLop)</td>
            <td>@Html.DisplayFor(modelItem => item.TenLop)</td>
            <td>@Html.DisplayFor(modelItem => item.KhoiLop.TenKL)</td>
            @Html.Partial("_ActionButtons", item.MaLop)
        </tr>
    }

</table>
