@model IEnumerable<CNPM_QLHocSinh.Models.LopHoc>

@{
    ViewBag.Title = "Index";
}

<h2>Xem Danh Sách Lớp Học</h2>

<p>
    @Html.Partial("_CreateButton")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MaLop)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TenLop)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MoTa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.KhoiLop.TenKL)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MaLop)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TenLop)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MoTa)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.KhoiLop.TenKL)
        </td>
        <td>
            @Html.ActionLink("Chỉnh sửa", "Edit", new { id=item.MaLop }, new { @class = "btn btn-success" }) |
            @Html.ActionLink("Chi tiết", "Details", new {  id=item.MaLop }, new { @class = "btn btn-primary" }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MaLop  }, new { @class = "btn btn-danger" })
        </td>
    </tr>
}

</table>
