@model IEnumerable<CNPM_QLHocSinh.Models.ChucVu>

@{
    ViewBag.Title = "Chức vụ";
}
<h2>Danh sách chức vụ</h2>
<hr />

@Html.Partial("_ViewBagError")

<table class="table table-hover">
    <tr>
        <th>@Html.DisplayNameFor(model => model.MaCV)</th>
        <th>@Html.DisplayNameFor(model => model.TenCV)</th>
        <th>@Html.DisplayNameFor(model => model.MoTa)</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.MaCV)</td>
            <td>@Html.DisplayFor(modelItem => item.TenCV)</td>
            @if (item.MoTa != null)
            {<td>@Html.DisplayFor(modelItem => item.MoTa)</td>}
            else {<td>N/A</td>}
        </tr>
    }

</table>

