@model IEnumerable<CNPM_QLHocSinh.Models.CaHoc>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}

<h2>Danh sách Ca học</h2>
<hr />

@Html.Partial("_ViewBagError")

<p>
    @Html.Partial("_CreateBtn")
</p>
<table class="table table-hover">
    <tr>
        <th>@Html.DisplayNameFor(model => model.MaCa)</th>
        <th>@Html.DisplayNameFor(model => model.ThoiGianBatDau)</th>
        <th>@Html.DisplayNameFor(model => model.ThoiGianKetThuc)</th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.MaCa)</td>
            <td>@Html.DisplayFor(modelItem => item.ThoiGianBatDau)</td>
            <td>@Html.DisplayFor(modelItem => item.ThoiGianKetThuc)</td>
            @Html.Partial("_ActionButtons", item.MaCa)
        </tr>
    }

</table>

