@model IEnumerable<CNPM_QLHocSinh.Models.CaHoc>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ThoiGianBatDau)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ThoiGianKetThuc)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ThoiGianBatDau)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ThoiGianKetThuc)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MaCa }) |
            @Html.ActionLink("Details", "Details", new { id=item.MaCa }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MaCa })
        </td>
    </tr>
}

</table>
