<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/MyCss.css" rel="stylesheet" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    @*@section scripts {
        <script>
            document.addEventListener('DOMContentLoaded', function () {
                var gioiTinhCheckbox = document.getElementById('GioiTinh');
                var gioiTinhLabel = document.getElementById('GioiTinhLabel');

                updateGioiTinhLabel();

                gioiTinhCheckbox.addEventListener('change', function () {
                    updateGioiTinhLabel();
                });

                function updateGioiTinhLabel() {
                    if (gioiTinhCheckbox.checked) {
                        gioiTinhLabel.textContent = 'Nam';
                    } else {
                        gioiTinhLabel.textContent = 'Nữ';
                    }
                }
            });
        </script>
    }*@
</head>
<body>
    <div id="div-top">
        <a href="" class="name_app">QLHS</a>
    </div>

    <div id="div-main">

        <div id="div-left">
            <div class="menu">
                <ul class="list_menu">
                    <li class="nav-link">
                        <a href="#">
                            <span>Trang chủ</span>
                        </a>
                    </li>

                    <li class="nav-link">
                        @Html.ActionLink("Hồ Sơ Học Sinh", "TimHocSinh", "HocSinh")
                    </li>

                    <li class="nav-link">
                        @Html.ActionLink("Quản Lý Khối Lớp", "Index", "KhoiLop")
                    </li>

                    <li class="nav-link">
                        @Html.ActionLink("Quản Lý Lớp Học", "XemDanhSachLopHoc", "LopHoc")
                    </li>

                    <li class="nav-link">
                        @Html.ActionLink("Quản Lý Môn Học", "Index", "MonHoc")
                    </li>

                    <li class="nav-link">
                        @Html.ActionLink("Quản lý Giáo Viên", "Index", "GiaoVien")
                    </li>

                    <li class="nav-link">
                        @Html.ActionLink("Quản Lý Điểm Bộ Môn", "", "QuanLyDiemBoMon")
                    </li>
                </ul>
            </div>
        </div>

        <div id="div-containt">
            @RenderBody()
        </div>
    </div>
</body>
</html>
