<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/MyCss.css" rel="stylesheet" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    @section scripts {
        <script>
            document.addEventListener('DOMContentLoaded', function () {
                var gioiTinhCheckbox = document.getElementById('GioiTinh');
                var gioiTinhLabel = document.getElementById('GioiTinhLabel');

                updateGioiTinhLabel();

                gioiTinhCheckbox.addEventListener('change', function () {
                    updateGioiTinhLabel();
                });

                function updateGioiTinhLabel() {
                    if (gioiTinhCheckbox.checked) {
                        gioiTinhLabel.textContent = 'Nam';
                    } else {
                        gioiTinhLabel.textContent = 'Nữ';
                    }
                }
            });
        </script>
    }
</head>
<body>
    <div id="div-top">
        <div class="namebox">
            @Html.ActionLink("Quản Lý Học Sinh", "Index", "HocSinh", null, new { @class = "name_app" })
        </div>

        <div class="user">
            @if (User.Identity.IsAuthenticated)
            {
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <span class="navbar-text">Hello, @User.Identity.Name!</span>
                    </li>
                    <li class="nav-item">
                        @using (Html.BeginForm("Logout", "Account", FormMethod.Post, new { id = "logoutForm" }))
                        {
                            @Html.AntiForgeryToken()
                            <button type="submit" class="btn btn-link nav-link" style="color: white; text-decoration: none;">Logout</button>
                        }
                    </li>
                </ul>
            }
            else
            {
                <ul class="navbar-nav">
                    <li class="nav-item">@Html.ActionLink("Login", "Login", "Account", new { area = "" }, new { @class = "nav-link" })</li>
                </ul>
            }
        </div>
    </div>

    <div id="div-main">
        <div id="div-left">
            <div class="menu">
                
                <ul class="list_menu">
                    <li class="nav-link">@Html.ActionLink("Hồ Sơ Học Sinh", "Index", "HocSinh")</li>
                    <li class="nav-link">@Html.ActionLink("Khối Lớp", "Index", "KhoiLop")</li>
                    <li class="nav-link">@Html.ActionLink("Lớp học", "Index", "LopHoc")</li>
                    <li class="nav-link">@Html.ActionLink("Môn học", "Index", "MonHoc")</li>
                    <li class="nav-link">@Html.ActionLink("Quản lý Giáo viên", "Index", "GiaoVien")</li>
                    <li class="nav-link">@Html.ActionLink("Chức vụ", "Index", "ChucVu")</li>
                    <li class="nav-link">@Html.ActionLink("Lịch giảng dạy", "Index", "LichGiangDay")</li>
                    <li class="nav-link">@Html.ActionLink("Trạng Thái học sinh", "Index", "TrangThaiHS")</li>
                    <li class="nav-link">@Html.ActionLink("Ca học", "Index", "CaHoc")</li>
                    <li class="nav-link">@Html.ActionLink("Điểm Bộ Môn", "Index", "QuanLyDiemBoMon")</li>
                </ul>
            </div>
        </div>

        <div id="div-containt">
            @RenderBody()
        </div>
    </div>
    @RenderSection("scripts", required: false)
</body>
</html>
