@model IEnumerable<CNPM_QLHocSinh.Models.GiaoVien>

@{
    ViewBag.Title = "Giáo Viên";
}

<h2>Xem Thông Tin Giáo Viên</h2>
@if (ViewBag.Error != null)
{
    <div>@ViewBag.Error</div>
}

<p>
    @Html.Partial("_CreateButton")
</p>
<table class="table">
    <tr>
        <th>
            Mã giáo viên
        </th>
        <th>
            Họ tên
        </th>
        <th>
            Tên chức vụ
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MaGV)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HoTen)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ChucVu.TenCV)
            </td>
            @Html.Partial("_ActionButtons", item.MaGV)
        </tr>
    }

</table>
