@model IEnumerable<CNPM_QLHocSinh.Models.GiaoVien>

@{
    ViewBag.Title = "Giáo Viên";
}

<h2>Xem Thông Tin Giáo Viên</h2>
<hr />

@Html.Partial("_ViewBagError")

<p>
    @Html.Partial("_CreateBtn")
</p>
<table class="table table-hover table-bordered">
    <tr>
        <th>Họ tên</th>
        <th>Giới tính</th>
        <th>Ngày sinh</th>
        <th>Số điện thoại</th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.HoTen)</td>
            <td>@Html.DisplayFor(modelItem => item.GioiTinh)</td>
            <td>@Html.DisplayFor(modelItem => item.NgaySinh)</td>
            @Html.Partial("_ActionButtons", item.MaGV)
        </tr>
    }

</table>
