@model IEnumerable<CNPM_QLHocSinh.Models.GiaoVien>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@if (ViewBag.Error != null)
{
    <div>@ViewBag.Error</div>
}

<p>
    <a href="@Url.Action("Index")" class="btn btn-primary">
        Create
    </a>
</p>
<table class="table">
    <tr>
        <th>
            Mã giáo viên
        </th>
        <th>
            Họ tên
        </th>
        <th>
            Tên chức vụ
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MaGV)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HoTen)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ChucVu.TenCV)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }, new { @class = "btn btn-success" }) |
                @Html.ActionLink("Chi tiết", "XemThongTinGiaoVien", new { id=item.MaGV  }, new { @class = "btn btn-primary" }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ }, new { @class = "btn btn-danger" })
            </td>
        </tr>
    }

</table>
