@model CNPM_QLHocSinh.Models.ViewModels.KLView

@{
    ViewBag.Title = "Khối Lớp";
}

<h2>Thêm Khối lớp mới</h2>

@Html.Partial("_ViewBagError")

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @if (ViewBag.AvailableNumbers != null && ViewBag.AvailableNumbers.Count > 0)
        {
            <div class="form-group">
                @Html.Label("Chọn số từ danh sách dưới đây:", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.SelectedNumber, new SelectList(ViewBag.AvailableNumbers), "-- Chọn số --", new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.SelectedNumber, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group" style="margin:10px">
                <div class="col-md-offset-2 col-md-10">
                    <button type="submit" class="btn btn-success">Thêm</button> | 
                    @Html.Partial("_BackButton")
                </div>
            </div>
        }
        else
        {
            <div class="form-group">
                @Html.Label("Chọn số từ danh sách dưới đây:", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <p>Không có số nào để chọn.</p>
                </div>
            </div>

            <div class="form-group" style="margin:10px">
                <div class="col-md-offset-2 col-md-10">
                    @Html.Partial("_BackButton")
                </div>
            </div>
        }
    </div>
}

