@model IEnumerable<CNPM_QLHocSinh.Models.KhoiLop>

@{
    ViewBag.Title = "Index";
}

<h2>Xem Khối Lớp</h2>
@if (ViewBag.Error != null)
{
    <div>@ViewBag.Error</div>
}

<p>
    @Html.Partial("_CreateButton")
</p>
<table class="table">
    <tr>
        <th>
            Mã khối lớp
        </th>
        <th>
            Tên khối lớp
        </th>
        <th>
            Mô tả
        </th>
        <th>
            Cấp bậc
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MaKL)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TenKL)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MoTa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CapBac)
            </td>
            <td>
                @Html.ActionLink("Chỉnh sửa", "Edit", new { id = item.MaKL }, new { @class = "btn btn-success" }) |
                @Html.ActionLink("Xoá", "XoaKhoiLop", new { id = item.MaKL }, new { @class = "btn btn-danger" })
            </td>
        </tr>
    }

</table>
